<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <targets>
        <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="C:\Ashok\MyProjects\NLogFiles\WebAPIMVC_AttachExcel\logs\logfile.txt"
            archiveFileName="C:\Ashok\MyProjects\NLogFiles\WebAPIMVC_AttachExcel\logs\log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true" />
        <target name="fileErr" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="C:\Ashok\MyProjects\NLogFiles\WebAPIMVC_AttachExcel\logs\logfile_Error.txt"
            archiveFileName="C:\Ashok\MyProjects\NLogFiles\WebAPIMVC_AttachExcel\logs\log_Error.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true" />
    </targets>
    <rules>
        <logger name="*" levels="Info" writeTo="file" />
        <logger name="*" levels="Error" writeTo="fileErr" />
    </rules>
</nlog>